
* {
  box-sizing: border-box;
}

#board_container {
  display: grid;
  height: 625px;
}

.tile {
  display: table-cell;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 60px;
}

.tile:hover {
  background-color: #DA8A67;
  cursor: pointer;
}

.black {
  background-color: gray;
}
.white {
  background-color: lightgray;
}

.selected {
  background-color: #2E5894 !important;
}

.empty {
  height: 100%;
  width: 100%;
}

.error {
    animation-name: example;
    animation-duration: 0.25s;
    animation-iteration-count: 2;
}

@keyframes example {
    50%  {background-color: #D92121;}
}
