
* {
  box-sizing: border-box;
}

#board_container {
  display: grid;
  height: 800px;
}

.tile {
  display: table-cell;
  height: 100px;
  text-align: center;
  font-size: 90px;
}

.tile:hover {
  background-color: red;
  cursor: pointer;
}

.tile:checked {
  background-color: darkred;
}

.black {
  background-color: gray;
}
.white {
  background-color: lightgray;
}

.selected {
  background-color: blue !important;
}

.empty {
  height: 100%;
  width: 100%;
}
